.container_movie {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

h1{
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgb(239, 46, 46);
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 5px 5px 10px rgb(124, 128, 127);
    text-align: left;
}
h2{
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgb(203, 17, 39);
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 5px 5px 10px #aba3ad;
    padding: 10px;
}

.scroll {
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
    height: 800px;
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flexbox;
    background-color: rgb(60, 1, 66);
    padding: 20px;
    scroll-behavior: smooth;
}

.scroll::-webkit-scrollbar {
    display: none;
}
.card
{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(213, 137, 207);
    display: grid;
    place-items: center;
}

.card .imgbox {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.card >img {
    width: 500px;
    height: 100%;
    border-radius: 20px;
    transition: all 0.5s linear;
    z-index: 2;
}
.card img:hover {
    z-index: 3;
    transform: scale(1.4);
}
.text{
    font-size: 25px;
    color: red;
    top: 70%;
    left: 70%;
    position: absolute;
    font-weight: bold;
    text-shadow: 2px 2px 5px white;
    z-index: 4;
}
.title{
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}